PORT=3000
PROPERTY_NAME=Mohegan Sun
LLM_PROVIDER=openai or openrouter
OPENAI_API_KEY=your_key_here
OPENAI_MODEL=gpt-4o-mini
OPENROUTER_API_KEY=
OPENROUTER_MODEL= free for dev - openrouter/free, not free for cheap rpoduction - openai/gpt-4o-mini

